.dashBoard_job_content_container_gj{
    width:98%;
    height:100%;
    
    align-items: center;
    margin-left: 35px;
    /* border: solid black; */
   justify-content: center;
  
   margin: 0px;
   display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
   

}
.dashBoard_job_content_gj{
    width:95%;
    height: 38%;
    /* display: flex; */
    /* background-color: green; */
    background: white;
    
    border-radius: 10px;
    margin-top:10px;
    overflow-wrap: normal;
    overflow: hidden;
}

.dashBoard_job_title_gj{
    width:100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    /* background-color: blue; */
    /* padding-left: 20px; */
/* Roboto 24 Regular 400 */
font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size:medium;
line-height: 0px;
/* identical to box height, or 36px */
/* margin-left: 20px; */


color: #006FCB;

/* background-color: red; */
}
.dashBoard_job_title_gj>h3{
    width:88%;
    /* background-color: red; */
    margin-left: 20px;
}
.dashBoard_job_title_gj>.app>button{
    /* align-self:right; */
    /* margin-right: 0px; */
    background: #FFFFFF;
    border: 1px solid #006FCB;
   border-radius: 10px;
   /* margin-right: -100px; */
   margin-right: -10%;
   margin-top:15px;
   color: #4E7936;
  
   
}

.dashBoard_job_params_gj{
    width:60%;
    height: 5%;
    display: flex;
    flex-direction: row;
    font-size:smaller;
    
     justify-content:left ; 
     margin-left: 20px;
     margin-top: 8px;
  
}

.dashBoard_job_location_gj>span>i{
    margin-right: 10px;

}

.dashBoard_job_type_gj{
    margin-left: 30px;
    /* margin-right: 30px; */
}
.dashBoard_job_type_gj>span>i{
    /* margin-left: 30px; */
    margin-right: 10px;
}


.dashBoard_job_cost_gj{
    margin-left: 30px;
}
.dashBoard_job_cost_gj>span>i{
    margin-right: 10px;
}

.dashBoard_job_comp_gj{
    margin-left: 30px;
}
.dashBoard_job_comp_gj>span>i{
    margin-right: 10px;
}

.dashBoard_job_details_gj{
    width:80%;
    height: 100%;
    margin-left: 20px;
    margin-top: 20px;
    font-size: smaller;
}

.hidden {
    display: none;
}
.hidden {
    display: none;
}

.appliedlabel {
    /* display: flex; */
    align-items: center;
    display: inline;
    color: #4E7936;
    
    margin-right: -10%;
    margin-top: -1%;
    width: 10%;
    /* background-color: pink; */
    text-align: center;
}