.createac_page{
     /* background-color: green;  */
    display:flex;
    flex-direction: column;
    align-items:flex-end;
    height:100%;
    width:100%;
}
.header{
    /* position: absolute; */
 /* width: 1728px;
height: 76px;  */
width:100%;
height:15%; 
left: 0px;
top: 0px;
align-items: center;
background: #006FCB;
text-align: center;
}

.createac_content{
    width:100%;
    height: 80%;
    display:flex;
    flex-direction: row;
    align-content: center;
    background: #EFF6FF;
}

.createac_form{
    
     height:50%;
    width:30%;
     display: flex;
    flex-direction: column;
    align-content: center;
    /* background-color: burlywood; */
    justify-content: space-evenly;
    margin:10px;
    padding: 10px; 
    background: #EFF6FF;

}
.labelcss{
    height:10px; 
    width :200px;
    padding: 10px;
    text-align: right;
    /* border: 2px solid grey;
    border-radius: 4px;   */
    color:blue;
    display: inline-block;
}


.inputcss{
    border-radius: 4px;   
    /* height:30px;  */
    width :200px;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 6px;
}

button{
    margin-top: 10px;
    margin-left: 50%;
}

.createacc_submit{
    background-color:#006FCB;
    color:white;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 45%;
    height: 40px;
    width:205px;
    border-radius: 4px;

}