.login_v {
    height: 100%;
    width: 100%;
    align-items: center;
    background-color: beige;
    top:0;
    margin:0;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXVVn7fPrE0xI1yzCDJyrs7KVxH0LB8mu52A&usqp=CAU");
    background-size: cover;
}

.login_v>h1 {
    height:10%;
    width: 100%;
    margin:0%;
    align-items: center;
    justify-content: center;
    background:lightsteelblue;
    color:black;
    text-align: center;
}
.login_v>h2{
    width:100%;
    top:0%;
    margin: 0;
    text-align: center;
    align-items: flex-end;
    /* background-color: red; */
    color:black;
    margin-top:220px;
}
/* .login_details{
    width:100%;
    align-content: center;
    justify-content: center;

} */

.login_details>form{
    /* height:50%; */
    width:100%;
    text-align: center;
 

}
.login_details>form>label{
   height:20px;
   width :200px;
   padding: 10px;
   margin-bottom: 6px;

   color:blue;

}
.login_details>form>input{
    border-radius: 4px;   
    /* height:30px;  */
    width :200px;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 6px;
}
.login_details>form>.login_submit{
    background-color:#006FCB;
    color:white;
    cursor: pointer;
    margin-left: 92px;

}
.login_details>.login_span{
    /* height:10%; */
    margin-left:45%;
    margin-bottom:20px;
    padding:2px;
    /* background-color: white; */
    text-align: center;
    justify-content: center;
    font-weight: 700;
}
.login_details>button{
    padding:5px;
    margin-left:45%;
    margin-top:15px;
    width:300px;
    background-color:palegreen;
}
.login_details>button:hover{
    background-color: #006FCB;
    cursor: pointer;
}