.logout_v{
    height:100%;
    width:100%;
    padding: 0;
    margin:0;
    top:0%;
    background-color:#EFF6FF;

}
.logout_v>.logo_v {
    height:7%;
    width: 100%;
    /* margin:0%; */
    background:#006FCB;
    color:white;
    display:flex;
}
.logout_v>h1{
    width:100%;
    height:10%;
    color:#006FCB;
    text-align: center;
    padding:150px;
    font-size:80px;
}

.logout_v>h2{
    width:100%;
    height:5%;
    text-align:center;
    color:#006FCB;
    margin-top:-5%;
    font-size:30px;
}

