.midsection_gj{
/* width: 1538px;
height: 414px; */
/* left: 94px; */
/* top: 114px; */
height:100%;
width:80%;
display: flex;
flex-direction: column;
/* background-color: purple; */
margin-left: 10%;
background-color: #EFF6FF;

}

.snapshot_outside_boundary_gj{
    /* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;

height:50%;
width:100%;

background: #EFF6FF;

/* background-color: yellow; */
}

.myapp_outside_boundary_gj{
    /* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
height:50%;
width:100%;
background: #EFF6FF;

}
.snapshot_gj{

height:15%;
width: 20%;
padding: 3px;
margin-left: 20px;
/* margin-top: 15px;
margin-left: 15px; */
/* Roboto 24 Medium 500 */

font-family: 'Roboto';
font-style: normal;
font-size: large;
color: #333333;
background: #EFF6FF;
/* background-color: red; */

}

.myapp_gj{
  
    height:15%;
    width: 20%;
    margin-top: 15px;
    margin-left: 20px;
    
    /* Roboto 24 Medium 500 */
    
    font-family: 'Roboto';
    font-style: normal;
    font-size: large;
    color: #333333;
    background: #EFF6FF;
       
    }

.snapshot_inner_item_boundary_gj{
    
display: flex;
flex-direction: row;

width: 100%;
height:80%;
/* justify-content:space-evenly; */
margin-top: 0px;
background: #EFF6FF;
margin-left: 10px;

/* background-color: green; */
}

.myapp_inner_item_boundary_gj{
    
display: flex;
flex-direction: row;
width: 100%;
height:80%;
margin-top: 0px;
background: #EFF6FF;
margin-left: 10px;
/* justify-content:space-evenly; */
/* background-color: aqua; */

}

.all_job_section_gj{
    
height:70%;
width:20%;

background: #FFFFFF;
border-radius: 7.5px;
border:#FFFFFF ;
margin-left: 15px;
}

.all_job_inner_frame_gj{
    /* position: absolute; */
width: 80%;
height: 80%;
margin-top: 10px;
margin-left: 10px;

display: flex;
flex-direction: row;
}

.all_job_icon_frame_gj{
    /* position: absolute; */
width: 40%;
height: 70%;
/* left: 0px;
top: 0px; */
align-items: center;
justify-content: center;
font-size:36px;
color:#006FCB;
display: flex;
margin-left:-10px;
}
/* .all_job_icon_ecllipse{
position: absolute;
width: 69px;
height: 69px;
left: 0px;
top: 0px;
background: #D4E5FF;
} */



/* .all_job_icon_vector{
    position: absolute;
left: 8.02%;
right: 79.33%;
top: 70.24%;
bottom: -16.56%;

background: #006FCB;
transform: matrix(1, 0, 0, -1, 0, 0);
} */
.all_job_icon_frame_gj>.icon_v{
    padding:0%;
    margin:0%;
    margin-top:0%;
    /* background-color: red; */
    margin-left:-38px;
}
.all_job_inner_frame_gj>.all_jobs_right_arrow{
margin-left:25px;
margin-top:10px;
}

.all_job_text_display_gj{
    /* Auto layout */

display: flex;
flex-direction: column;
/* align-items: flex-start; */
padding: 0px;

/* position: absolute; */
width: 50%;
height: 70%;
/* left: 76.5px;
top: -4px; */

}
.all_job_text1_gj{
    /* width: 73px;
height: 30px; */

font-family: 'Roboto';
font-style: normal;
/* font-weight: 400;
font-size: 20.0975px;
line-height: 150%; */
/* or 30px */


color: #2D2D2D;


/* Inside auto layout */

/* flex: none;
order: 0;
flex-grow: 0;
margin: -9px 0px; */
}

.all_job_text2_gj{
    width: 60px;
height: 56px;

font-family: 'Poppins';
font-style: normal;
font-weight: 200;
font-size: 20px;
line-height: 150%; 
/* or 56px */


color: #006FCB;


/* Inside auto layout */

/* flex: none;
order: 1;
flex-grow: 0; */
}