.searchbox{
    width:100%;
    height:100%;
}
.searchbox>.search_v{
    width:100%;
    height:300%;
    /* background-color: black; */
}
.searchbox>.search_v>input{
    height:50%;
    width:75%;
    margin-left:35px;
    border: 1px solid blue;

}
.searchbox>.search_v>input:hover{
    height:50%;
    width:75%;
    margin-left:35px;
    border: 3px solid blue;

}
.searchbox>.search_v>button{
    margin-left:5%;
    width:12%;
    height:50%;
    background-color: #006FCB;
    color:white;
    font-size: large;
    border: 1px solid blue;

}
.searchbox>.search_v>button:hover{
    border: 3px solid blue;

}
.searchbox>.drop_v{
    margin-left:20px;
    height:110%;

}
.searchbox>.drop_v>select{
    margin-left: 15px;
    margin-top:0px;
    height:110%;
    background-color: #EFF6FF;
    border-radius: 3px;
    font-weight: bold;


}