.eligiblejobs{
    width: 100%;
    height: 100%;
    background: #EFF6FF;
    /* background-color: red; */
    
}
.eligiblejobs_header{
    width: 100%;
    /* height: 1%; */
    /* background-color: aqua; */
}
.eligiblejobs_Searchbox>h4{
    padding:0%;
    margin:0%;
    margin-left: 35px;
    margin-top: 5px;

}
.eligiblejobs_Searchbox{
    width: 100%;
    /* height: 13%; */
    /* background-color: brown; */
}


.eligiblejobs_job_content_container_gj{
    width:100%;
    /* height:80%; */
    
    align-items: center;
    margin-left: 35px;
    /* border: solid black; */
   justify-content: center;
  
   margin: 0px;
   display: flex;
   flex-wrap: wrap;
   overflow-y: scroll;
   /* background-color: blue; */

}
.eligiblejobs_job_content_gj{
    width:95%;
    /* height: 35%; */
    /* display: flex; */
    /* background-color: green; */
    background: white;
    
    border-radius: 10px;
    margin-top:10px;
    overflow-wrap: normal;
    overflow: hidden;
    
}

.eligiblejobs_job_title_gj{
    width:100%;
    /* height: 30%; */
    display: flex;
    flex-direction: row;
    /* background-color: blue; */
    /* padding-left: 20px; */
/* Roboto 24 Regular 400 */
font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size:medium;
line-height: 0px;
/* identical to box height, or 36px */
/* margin-left: 20px; */


color: #006FCB;

/* background-color: red; */
}
.eligiblejobs_job_title_gj>h3{
    width:88%;
    /* background-color: red; */
    margin-left: 20px;
}
.eligiblejobs_job_title_gj>.app_el>button{
    /* align-self:right; */
    /* margin-right: 0px; */
    background: #FFFFFF;
    border: 1px solid #006FCB;
   border-radius: 10px;
   margin-right: -10%;
   margin-top: 15px;
  
   
}

.eligiblejobs_job_params_gj{
    width:60%;
    /* height: 5%; */
    display: flex;
    flex-direction: row;
    font-size:smaller;
    
     justify-content:left ; 
     margin-left: 20px;
     margin-top: 8px;
  
}

.eligiblejobs_job_location_gj>span>i{
    margin-right: 10px;

}

.eligiblejobs_job_type_gj{
    margin-left: 30px;

}
.eligiblejobs_job_type_gj>span>i{
    margin-right: 10px;

}

.eligiblejobs_job_cost_gj{
    margin-left: 30px;
}
.eligiblejobs_job_cost_gj>span>i{
    margin-right: 10px;
}

.eligiblejobs_job_comp_gj{
    margin-left: 30px;
}
.eligiblejobs_job_comp_gj>span>i{
    margin-right: 10px;
}


.eligiblejobs_job_details_gj{
    width:80%;
    /* height: 100%; */
    margin-left: 20px;
    margin-top: 20px;
    font-size: smaller;
}