.profile_v {
    height: 100%;
    width: 100%;
    /* background-color: green; */
    top:0;
    margin:0;
    padding:0;
    box-sizing:border-box;
    /* background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQ661nY6hUfkvKtCt4b1us8oMQBgdicEN2uKI6zhnMDNtfnPM5ZTbZ7KtLZiJokqk7mfw&usqp=CAU"); */
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTM7xM-CNgAlFCxd_lmsjKtZUyj5KsbBfhBrA&usqp=CAU");
    background-repeat: none;
    background-size: cover;

}
.profile_v>h1{
    margin: 0;
    padding:10px;
    margin-left:45px;
    color:#006FCB;
    text-align: center;
}
.profile_v>form{
    /* background-color: white; */
    width: 50%;
    /* height: 50%; */
    margin-left: 50%;
    border-radius: 15px;
    margin-top: 0%;
    justify-content: center;
    align-items: center;
}
.profile_v>form>label{
    /* height:20px; */
   width :200px;
   padding: 0px;
   /* margin-bottom: 6px; */
   /* margin-top:3px; */
   font-family: 'Times New Roman', Times, serif;
   font-size: large;
   font-weight: 700;
   display: inline-block;

}
.profile_v>form>input{
    border-radius: 4px;   
    /* height:30px;  */
    width :250px;
    padding: 6px;
    font-weight: bold;
    margin-bottom: 6px;
}
.profile_v>form>.profile_submit{
    background-color:palegreen;
    cursor: pointer;
    margin-left: 92px;
    font-size:larger;

}
.profile_v>form>.profile_submit:hover{
    background-color: #006FCB;
    cursor: pointer;
}