.profile_v {
    height: 100%;
    width: 100%;
    background-color: #EFF6FF;
    top:0;
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
.profile_v>.plogo {
    height:7%;
    width: 100%;
    /* margin:0%; */
    background:#006FCB;
    color:white;
    display:flex;
}
.profile_v>.plogo>img{
    height:100%;
    width:15%;
}
.profile_v>.plogo>h1{
    height:100%;
    width:50%;
    margin-top:0%;
    margin-left:20%;
}
.profile_v>h2{
    margin: 0;
    /* padding:10px; */
    /* margin-left:45px; */
    color:#006FCB;
    text-align: center;
}
.profile_v>.formes{
    background-color: white;
    border: 1px solid black;
    width: 40%;
    height: 90%;
    margin-left: 30%;
    border-radius: 15px;
    margin-top: .7%;
    justify-content: center;
    align-items: center;
}
.profile_v>.formes>.not_v{
    color:red;
    margin:2px;
    padding:2px;
    margin-left:13%;
}
.profile_v>.formes>label{
    /* height:20px; */
   width :200px;
   padding: 2px;
   /* margin-left:13%; */
   /* margin-bottom: 6px; */
   margin-top:5px;
   font-family: 'Times New Roman', Times, serif;
   font-size: large;
   font-weight: 700;
   display: inline-block;
   /* align-items: right; */

}
.profile_v>.formes>super{
    color:red;
    margin:2px;
    padding:2px;
    margin-left:12%;

}
.profile_v>.formes>input{
    border-radius: 4px;   
    /* height:30px;  */
    width :250px;
    padding: 5px;
    margin-bottom: 6px;
    margin-right:15px;
}
.profile_v>.formes>.profile_submit{
    background-color:#006FCB;
    color:black;
    cursor: pointer;
    border: 0px solid black;
    margin-left:285px;
    font-size:larger;
    margin-top:2px;

}
.profile_v>.formes>.profile_submit:hover{
    background-color: #006FCB;
    color:white;
    border: 1px solid black;

    cursor: pointer;
}